@{
    ViewData["Title"] = "Home Page";
}
@model TodoList
<style>

   #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>

<div>
    <h2>Create To Do</h2>
    @Html.ActionLink("Create", "CreateTodo")
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    IsDone
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    EndDate
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if(Model.Todos.Count == 0)
            {
                <tr>
                    <h2>Nothing To Show</h2>
                </tr>
            }
            @{
                foreach (var current in Model.Todos)
                {
                    <tr>
                        <td>Name : @current.Name</td>
                        <td>IsDone : @current.IsDone</td>
                        <td>StartDate : @current.StartDate</td>
                        <td>EndDate : @current.EndDate</td>
                        <td>
                            @Html.ActionLink("Details", "GetTodo", new {id = current.Id})
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = current.Id })
                        </td>
                        <td>
                            @Html.ActionLink("Update", "Update", new { id = current.Id })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id='calendar'></div>

@section Scripts {
    <script src="~/js/date/date.global.min.js"></script>
    <script src="~/js/date-demo/background-events.js"></script>
}
